body{
    margin: 0px;
    padding: 0px;
}

#contanair{
    display:flex;
}
#viewbar{
    display: flex;
    background-color: rgb(19, 6, 33);
    color: white;
    text-align: center;
    justify-content: center;
    width: 75%;
    height: 950px;

}
#sidebar{
    width: 25%;
    height: 950px;
    background-color: black;
}
p{
    text-align: center;
    align-items: center;
    display: flex;
    margin-left: 100px;
}
h5{
    text-align: center;
     align-items: center;
    display: flex;
}
#profile{
    background-color: rgb(32, 29, 29);
    height: 45px;
    width: 100%;
    color: white;
    justify-content: space-evenly;
    
 
  
    
}
ul{
    color: white;
    list-style: none;
    margin-left: 0px;
   padding: 0px;

}
#search{
    background-color: rgb(32, 29, 29);
    height: 30px;
    width:89% ;
    margin-top: 5px;
    color: white;
    margin-left: 10px;
   padding-right: 15px;
   box-shadow: 200, 100,100 white;
   
   
}
#searchicon{
    width: 100px;
    margin-top: 10px;
  
}



li{
    border-bottom: solid thin grey;
    padding-left: 55px;
   
   

  
}
#img1{
    height: 300px;
    width: 410px;
    position: absolute;
    margin-top: 145px;
}

#Ashlarimg{
    height: 35px;
    width: 35px;
    border-radius: 50%;
  
}
#olliviaimg{
    height: 35px;
    width: 35px;
    border-radius: 50%;
  
}
#kabirimg{
    height: 35px;
    width: 35px;
    border-radius: 50%;
  
}
#graceimg{
    height: 35px;
    width: 35px;
    border-radius: 50%;
  
}
#josaphimg{
   height: 35px;
   width: 35px;
   border-radius: 50%;
  
}
#dianaimg{
    height: 35px;
    width: 35px;
    border-radius: 50%;
   

}
#ameliaimg{
    height: 35px;
    width: 35px;
    border-radius: 50%;

}
#raulimg{
    height: 35px;
    width: 35px;
    border-radius: 50%;


}

#whatsappicon{
    height: 80px;
    width: 180px;
    margin-left: 20px;
    margin-top: 10px;
}
#sunicon{
    height:30px ;
    width: 40px;
    margin-top: 10px;
}

#spinnericon{
    height: 30px;
    width: 40px;
    margin-top: 10px;
}

#messageicon{
    height:30px ;
    width: 40px;
    margin-top: 10px;
}

#doaticon{
    height: 20px;
    width: 20px;
    margin-top: 10px;
}



